@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer theme, base, mantine, components, utilities;

@import 'tailwindcss';

@import '@mantine/core/styles.layer.css';
@import '@mantine/dates/styles.css';
@import '@mantine/charts/styles.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*Font Theme*/
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', san-serif;
  /*Font Theme*/

  /*Color Theme*/
  --color-dark-charcoal: #1a1c1e;
  --color-dark-charcoal-gray: #24272a;
  --color-dark-slate: #121212;
  /*Color Theme*/

  --color-scroll-track: var(--tw-color-gray-100);
  --color-scroll-thumb: var(--tw-color-gray-300);
  --color-scroll-track-dark: var(--tw-color-neutral-700);
  --color-scroll-thumb-dark: var(--tw-color-neutral-500);
}

@keyframes dotPulse {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.9);
    filter: brightness(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
    filter: brightness(1.4);
  }
}

@utility animate-dot-1 {
  animation: dotPulse 1.2s infinite ease-in-out;
}

@utility animate-dot-2 {
  animation: dotPulse 1.2s infinite ease-in-out 0.2s;
}

@utility animate-dot-3 {
  animation: dotPulse 1.2s infinite ease-in-out 0.4s;
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
  ::-webkit-scrollbar {
    width: 0.5rem; /* w-2 */
  }
  ::-webkit-scrollbar-track {
    background-color: theme(--color-gray-100);
    border-radius: 150px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme(--color-gray-300);
    border-radius: 150px;
  }

  .dark {
    ::-webkit-scrollbar {
      width: 0.5rem; /* w-2 */
    }
    ::-webkit-scrollbar-track {
      background-color: theme(--color-neutral-700);
      border-radius: 150px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: theme(--color-neutral-500);
      border-radius: 150px;
    }
  }
}
ul,
li {
  list-style: none;
}
.recharts-wrapper,
.recharts-surface,
.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none !important;
}

/* Remove border trên bars */
.recharts-bar-rectangle,
.recharts-bar-rectangle:focus,
.recharts-bar-rectangle:hover {
  outline: none !important;
  stroke: transparent !important;
  stroke-width: 0 !important;
}

.recharts-active-shape {
  outline: none !important;
}

/* Remove focus ring trên mọi SVG elements */
svg:focus,
svg *:focus {
  outline: none !important;
}
