@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

.tiptapAiFormChat {
  :first-child {
    margin-top: 0;
  }
  p.is-editor-empty:first-child::before {
    color: #a1a1a1;
    font-weight: 400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  strong {
    font-weight: 500;
  }
}
.tiptap {
  :first-child {
    margin-top: 0;
  }
  a {
    color: #d490ff;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: #b760ee;
    }
  }
  mark {
    background-color: #faf594;
    color: inherit;
    font-weight: 500;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }
  blockquote {
    border-left: 3px solid #d1d5dc;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
  code {
    background-color: #282b36;
    border-radius: 0.4rem;
    color: #ffff;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.25em 0.3em;
  }
  pre {
    background: #282a36;
    border-radius: 0.5rem;
    color: #ffff;

    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro', monospace;
      background: none;
      color: inherit;
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
  blockquote {
    border-left: 3px solid #d4d4d4;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
  p.is-editor-empty:first-child::before {
    color: #a1a1a1;
    font-weight: 400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    margin: 2rem 0;
  }
}
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  // [data-id] {
  //   border: 3px solid #24272a;
  //   border-radius: 0.5rem;
  //   margin: 1rem 0;
  //   position: relative;
  //   margin-top: 1.5rem;
  //   padding: 2rem 1rem 1rem;
  //
  //   &::before {
  //     content: attr(data-id);
  //     background-color: #24272a;
  //     font-size: 0.6rem;
  //     letter-spacing: 1px;
  //     font-weight: bold;
  //     text-transform: uppercase;
  //     color: #fff;
  //     position: absolute;
  //     top: 0;
  //     padding: 0.25rem 0.75rem;
  //     border-radius: 0 0 0.5rem 0.5rem;
  //   }
  // }
}
#preview p:empty,
#preview p > br:only-child {
  margin: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}
.draggable-item {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  background: white;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0px 10px 20px rgba(0, 0, 0, 0.1);

  .drag-handle {
    flex: 0 0 auto;
    position: relative;
    width: 1rem;
    height: 1rem;
    top: 0.3rem;
    margin-right: 0.5rem;
    cursor: grab;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .content {
    flex: 1 1 auto;
  }
}
